<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yupao.mapper.FriendMapper">

    <resultMap id="BaseResultMap" type="com.yupi.yupao.model.domain.Friend">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="toUserId" column="toUserId" jdbcType="BIGINT"/>
            <result property="createUserId" column="createUserId" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,toUserId,createUserId,
        status,createTime,updateTime,
        isDelete
    </sql>
    <select id="selectUserWithFriends" resultType="com.yupi.yupao.model.domain.User">
        SELECT u.* FROM user u LEFT JOIN  friend f ON f.toUserId = u.id
                   WHERE f.createUserId = #{userId} and f.status = #{isFriend};
    </select>
</mapper>
