<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziio.zpao.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.ziio.zpao.model.domain.Message">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="userName" column="text" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="text" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,userName,userAvatar,text,createTime,
        isDeleted
    </sql>
</mapper>
