<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziio.zpao.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.ziio.zpao.model.domain.Tag">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tagName" column="tagName" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="counts" column="counts" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tagName,createTime,
        isDelete,counts
    </sql>
</mapper>
